@font-face {
	font-family: 'gilroylight';
	src: local('Gilroy Light'),
    local('Gilroy-Light'),
    url('gilroylight.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'gilroyextrabold';
	src: local('Gilroy ExtraBold'),
    local('Gilroy-ExtraBold'),
    url('gilroyextrabold.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'gilroylight';
	src: 
    url(../fonts/gilroylight.woff2) format('woff2');
	font-weight: 300;
	font-style: normal;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  color: #464646;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
}

a {
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;

  text-decoration: none;
}

.page-header li {
  list-style: none;
}

.header-logo,
.header-logo a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 48px;
  line-height: 48px;
  font-weight: 900;
  font-style: normal;
  color: #000000;
}

.header-logo a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.header-logo a:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-label,
.header-conditions-menu {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 900;
  text-transform: uppercase;
  color: #000000;
}

.slide-number {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 180px;
  line-height: 180px;
  font-weight: 900;
  color: blue;
}

.slide-title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  line-height: 56px;
  font-weight: 900;
  color: #000000;
}

.slide-text {
  font: inherit;
}

.slide-btn {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 900;
  text-transform: uppercase;
  color: #000000;
}

.slide-table td {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: 300;
  color: #000000;
}

.slide-table th {
  font-family: inherit;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  color: #464646;
}

.product-menu li {
  list-style: none;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 900;
  color: #000000;
}

.processing-slider label{
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 900;
  color: #000000;
  text-transform: uppercase;
}

.delivery h3,
.guarantee h3,
.credit h3 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 900;
  font-style: normal;
  color: #000000;
}

.