@font-face {
  font-family: 'gilroylight';
  src: local('Gilroy Light'),
    local('Gilroy-Light'),
    url('../fonts/gilroylight.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'gilroyextrabold';
  src: local('Gilroy ExtraBold'),
    local('Gilroy-ExtraBold'),
    url('../fonts/gilroyextrabold.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;

  font-size: 18px;
  line-height: 24px;
  font-weight: 900;
  font-family: "gilroyextrabold", Arial, sans-serif;
  color: #000000;
}

.header,
.container,
.main--wrapper,
.formalities-slider,
.brands,
.about-us,
.contacts {
  width: 1200px;
  margin: 0 auto;
}

.header {
  margin-top: 40px;
  padding-top: 50px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
}

a {
  font: inherit;
  color: #000000;

  text-decoration: none;
}

.header {
  position: relative;
  background-color: #f7e296;
}

.header li {
  list-style: none
}

.logo {
  font-size: 48px;
  line-height: 48px;
  font-weight: 900;
}

.header--logo {
  position: absolute;
  top: -25px;
  left: 10px;
  color: #000000;
}

.header--logo a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.header--logo a:active  {
  color: rgba(0, 0, 0, 0.3);
}


.catalog--toggle__label:hover,
.conditions--menu__item a:hover,
.catalog--dropdown-menu__item a:hover,
.product--menu__item a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.catalog--toggle__label:active,
.conditions--menu__item a:active,
.catalog--dropdown-menu__item a:active,
.product--menu__item a:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-menu--list {}

.user-menu__item a {
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  font-family: "Open Sans", Arial, sans-serif;
}

.user-menu--item__nonactive a {
  color: rgba(0, 0, 0, 0.3);
}

.user-menu__item:hover a {
  color: rgba(0, 0, 0, 0.6);
}

.user-menu__item:hover path {
  fill: rgba(0, 0, 0, 0.6);
}

.user-menu__item:active a {
  color: rgba(0, 0, 0, 0.3);
}

.user-menu__item:active path {
  fill: rgba(0, 0, 0, 0.3);
}

.conditions--menu__item {}

.catalog--search__input,
.catalog--search__btn {
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
  font-family: "Open Sans", Arial, sans-serif;
  color: rgba(0, 0, 0, 0.3);

  background-color: #f7e296;
  border: none;
}

.catalog--toggle__icon {
  background-color: #f7e296;
  border: none;
}

.catalog--toggle__label,
.conditions--menu__item a {
  font: inherit;
  text-transform: uppercase;
}

.catalog--dropdown-menu__item a {
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  font-family: "gilroylight", Arial, sans-serif;
  color: #000000;
}

.popular--list {
  list-style: none;
}

.popular--item__number {
  font-size: 180px;
  line-height: 180px;
  color: #ffc600;
}

.popular--item__title {
  font-size: 47px;
  line-height: 56px;
}

.popular--item__text {
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  font-family: "Open Sans", Arial, sans-serif;
  color: #464646;
}

.btn a,
.btn {
  font: inherit;
  text-transform: uppercase;
}

.btn a:active,
.btn:active {
  color: rgba(0, 0, 0, 0.3);
}

.popular-item--table__header {
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  font-family: "Open Sans", Arial, sans-serif;
  color: #464646;
}

.popular-item--table__cell {
  font-size: 36px;
  line-height: 48px;
  font-weight: 300;
  font-family: "gilroylight", Arial, sans-serif;
}

.product--menu {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style: none;
}

.product-menu--item__icon svg {
  width: 160px;
  height: 160px;
  background-color: #f7e296;
}

.product-menu--item__title {
  width: 160px;
}

.formalities--wrapper__background {
  background-color: #e5e5e5;
}

.formalities--title,
.about-us--title,
.contacts--title {
  font-size: 47px;
  line-height: 48px;
}

.formalities--text,
.about-us--text,
.contacts--text {
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  font-family: "Open Sans", Arial, sans-serif;
  color: #464646;
}

.brands--list {
  list-style: none;
}

.modal--contact__btn {
  border: none;
  background-color: #ffffff;
}

.modal--close {
  width: 22px;
  height: 22px;

  font-size: 0;

  border: none;
  background-color: #ffffff;
  cursor: pointer;
}

.modal--close::before,
.modal--close::after {
  content: "";
  position: absolute;
  width: 19px;
  height: 3px;
  background-color: #ffc600;
}

.modal--close::before {
  transform: rotate(45deg);
}

.modal--close::after {
  transform: rotate(-45deg);
}

.modal--contact__form input[id="user-name"],
.modal--contact__form input[id="user-email"],
.modal--contact__form textarea {
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
  font-family: "Open Sans", Arial, sans-serif;
  color: #464646;
}

.catalog--page__title {
  font-size: 47px;
  line-height: 48px;
  font-weight: 900;
  font-family: "gilroyextrabold", Arial, sans-serif;
  color: #000000;
}

.breadcrumbs--list {
  list-style: none;
}

.breadcrumbs__item a,
.breadcrumbs__item {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  font-family: "Open Sans", Arial, sans-serif;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs__item a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs__item a:active {
  color: rgba(0, 0, 0, 0.3);
}

.filter--sidebar__title {
  text-transform: uppercase;
  background-color: #dcdcdc;
}

.filter--sidebar__form {
  background-color: #efefef;
}

.filter--sidebar__btn {
  border: none;
  background-color: #efefef;
}

.range--cell__min-price,
.range--cell__max-price,
.checkbox--field,
.radio-type--field {
  font-size: 14px;
  line-height: 40px;
  font-weight: 300;
  font-family: "Open Sans", Arial, sans-serif;
}

.sort {
  background-color: #efefef;
}

.sort--type__title {
  text-transform: uppercase;
}

.sort--type__list,
.sort--btn__list {
  list-style: none;
}

.sort--type__item {
}

.sort--type__item a {
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
  font-family: "Open Sans", Arial, sans-serif;
  color: rgba(0, 0, 0, 0.3);
}

.sort--type__item a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.sort--type__item a:active {
  color: rgba(0, 0, 0, 1);
}

.sort-type--item__active a {
  color: rgba(0, 0, 0, 1);
}

.sort--btn__list li {
}

.sort--btn__icon-down,
.sort--btn__icon-up {

  background-color: #efefef;
  border: none;
}

.category--list {
  list-style: none;
}

.category--item__price {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  font-family: "gilroylight", Arial, sans-serif;
  color: #464646;
}

.hidden--basket__btn:active {
  color: rgba(0, 0, 0, 0.3);
}

.hidden--compare__btn {
  font-size: 13px;
  line-height: 36px;
  font-weight: 300;
  font-family: "Open Sans", Arial, sans-serif;
  color: rgba(0, 0, 0, 0.5);
}

.hidden--compare__btn:hover {
  color: rgba(0, 0, 0, 1);
}

.hidden--compare__btn:active {
  color: rgba(0, 0, 0, 0.2);
}

.pagination--list {
  list-style: none;
  background-color: #ebebeb;
}

.pagination__item {
}

.pagination__item a {
  color: rgba(0, 0, 0, 0.3);
}

.pagination__item a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.pagination__item a:active {
  color: rgba(0, 0, 0, 1);
}

.pagination--item__current a {
  color: #000000;
}

.pagination__prev a,
.pagination__next a {
  text-transform: uppercase;
  color: #000000;
}

.pagination__next a:hover,
.pagination__prev a:hover {
  background-color: #d9d9d9;
}

.pagination__next a:active,
.pagination__prev a:active {
  background-color: #d9d9d9;
  color: rgba(0, 0, 0, 0.3);
}

.footer {

  background-color: #464646;
  border: 0.1px solid transparent;
}

.footer--wrapper {
  width: 1200px;
  margin: 0 auto;
}

.footer--logo a {
  color: #ffc600;
}

.footer--logo a:hover {
  color: rgba(255, 198, 0, 0.6);
}

.footer--logo a:active {
  color: rgba(255, 198, 0, 0.3);
}

.footer--user-menu__list,
.footer--conditions__menu,
.footer--social__btn {
  list-style: none;
}

.footer--user-menu__item a {
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  font-family: "Open Sans", Arial, sans-serif;
  color: rgba(255, 255, 255, 0.7);
}

.footer--user-menu--item__nonactive a {
  color: rgba(255, 255, 255, 0.3);
}

.footer--user-menu__item:hover a {
  color: rgba(255, 255, 255, 1);
}

.footer--user-menu__item:hover path {
  fill: rgba(255, 198, 0, 1);
}

.footer--user-menu__item:active a {
  color: rgba(255, 255, 255, 0.3);
}

.footer--user-menu__item:active path {
  fill: rgba(255, 198, 0, 0.3);
}

.footer--conditions__adress,
.footer--conditions__number {
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  font-family: "Open Sans", Arial, sans-serif;
  color: #ffffff;
}

.footer--conditions__item a {
  font: inherit;
  text-transform: uppercase;
  color: #ffffff;
}

.footer--conditions__item a:hover {
  color: rgba(255, 255, 255, 0.7);
}

.footer--conditions__item a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer--social__btn a,
.footer--social__copyright a {
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  font-family: "Open Sans", Arial, sans-serif;
  color: #ffffff;
}

.footer--social__btn li,
.footer--conditions__item,
.footer--user-menu__item {
}

/* .btn {
  height: 8px;
  width: 180px;
    background: linear-gradient(45deg, #f0c52e, #f0c52e);
    
} */

