
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
}

a {
  font-family: "Gilroy", Arial, sans-serif;
  color: rgb(0, 0, 0);

  text-decoration: none;
}

.page-header li {
  list-style: none;
}

.header-logo {
  font-style: bold;
  font-size: 48px;
  line-height: 48px;
  font-family: "Gilroy", Arial, sans-serif;
  color: rgba(0, 0, 0, 0);
}

.header-logo a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.header-logo a:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-nav-menu a:hover,
.catalog-dropdown a:hover,
.header-conditions-menu a:hover,
.catalog-label:hover {
  color: rgba(0, 0, 0, 0.6);
}

.user-nav-menu a:active,
.catalog-dropdown a:active,
.header-conditions-menu a:active,
.catalog-label:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-label,
.header-conditions-menu {
  font-size: 18px;
  font-family: "Gilroy", Arial, sans-serif;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 24px;
  text-align: left;
}

.catalog-dropdown {
  line-height: 36px;
}

.slide-number {
  font-size: 36px;
  font-family: "Gilroy", Arial, sans-serif;
  /* color: rgb(255, 255, 255); */
  color: red;
  font-weight: bold;
  line-height: 1;
  text-align: right;
}


.footer-logo a {
  font-weight: bold;
  font-size: 26.46px;
  line-height: 1;
  font-family: "Gilroy", Arial, sans-serif;
  color: #ffc600;
}

.footer-logo a:hover {
  color: rgba(255, 198, 0, 0.6);
}

.footer-logo a:active {
  color: rgba(255, 198, 0, 0.3);
}